footer {
	h2 {
		color: #fff95b;
		text-align: center;
		padding-top: 2rem;
	}
	h3 {
		color: white;
		text-align: center;
	}
	div {
		display: flex;
		justify-content: center;
		a {
			&:hover {
				color: $yellow;
				transition: all .4s ease-in-out;
			}
		}
	}
}
.social {
	a {
		color: white;
		text-decoration: none;
		font-size: 2rem;
		margin-top: 1rem;
		padding: 1rem;
	}
}
