nav {
	background-image: url("../img/header.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.logo {
	width: 6rem;
}
.navbar-dark {
	.navbar-nav {
		.nav-link {
			color: #fff;
			&:hover {
				color: $yellow;
				transition: all .4s ease-in-out;
			}
		}
	}
}