/* Fuentes */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@font-face {
  font-family: 'Azonix';
  src: url(../font/Azonix.otf);
}

/* normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* globales */

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  color: #fff;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Azonix', 'Ubuntu', sans-serif;
}

.text_yellow {
  color: #fff95b;
}

nav {
  background-image: url("../img/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 6rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff95b;
  transition: all .4s ease-in-out
}

/* index */

.slider {
  margin-bottom: 3rem;
}

/* faq */

/* showcase */

#showcase .col-lg-4 {
  padding: 25px;
}

#showcase img {
  width: 100%;
  height: 250px;
}

.showcase_img img:hover {
  border: 5px solid grey;
}

/* mod */

/* donation */

/* estilos footer*/

footer h2 {
  color: #fff95b;
  text-align: center;
  padding-top: 2rem;
}

footer h3 {
  color: white;
  text-align: center;
}

footer div {
  display: flex;
  justify-content: center;
}

.social a {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  margin-top: 1rem;
  padding: 1rem;
}

footer div a:hover {
  color: #fff95b;
  transition: all .4s ease-in-out
}